@media screen and (max-width: 768px) {
  .bannerContainer {
    background-color: #37aadb;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
  }

  .bannerContainer button {
    width: 150px;
  }
}
@media screen and (min-width: 768px) {
  .bannerContainer {
    background-image: url("../../../assets/bannerimg.png");
    width: 100%;
    height: 60vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bannerContainer button {
    width: 150px;
  }
  .widthBanner {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .widthBanner {
    width: 30%;
  }
}

.card{
  border-radius: 0px 40px;
  background: #EDE7FB;
  
}