#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
}

.mainSection{
    flex-grow: 1;
}



.boton{
    color: #4D91CD;
    width: 50%;
}
.fondoRegistro{
    background-image: url(../assets/fondos/Registro2.png);
}