#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainSection{
    flex-grow: 1;
}
.container {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 100vh;
    background-color: #F0E6DC;
  }
  
  .box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
  }
  
  .box > Card.img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover; 
    transition: .5s;
  }
  
  .box > Card.title {
    /* font-size: 3.8vh; */
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
  }
  
  .box:hover { flex: 1 1 50%; }
  .box:hover > Card.img {
    width: 100%;
    height: 100%;
  }
   
  .text-verde{
    color: #1B4C51;
  }