.error{
    background-color: #5f9798;
}
#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainSection{
    flex-grow: 1;
}

.btnError{
    border-style: double !important;
    border-color: #1B4C51 !important;
}

