.error{
    background-color: #F8E4CA;
    color: #1B4C51;
    min-width: 100vh;
    min-height:100vh;
}

.btnError{
    background-color: #F8E4CA !important;
    border-style: double !important;
    border-color: #1B4C51 !important;
}

