@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Rajdhani:wght@500&display=swap');
#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F8E4CA!important;
    font-family: 'Lato', sans-serif;
}

.mainSection{
    flex-grow: 1;
}

.imagen {
    width: 100%;
    height: 400px;
    object-fit: contain;
    /* object-position: center; */
    transition: .3s;
}

.titulos{
    color: #1B4C51;
    font-family: 'Raleway', sans-serif;
}