#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainSection{
    flex-grow: 1;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 15px;
}
*::-webkit-scrollbar-track {
    background-color: rgb(209, 209, 209);
    margin: 0 550px;
    border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
    background-color: #4D91CD;
    border-radius: 10px;
}

img {
    width: 100%;
}
body {
    background-color: #F8E4CA!important;
}

.contenedor {
    width: 100%;
    height: 300px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 30px;
    overflow: hidden;
    overflow-x: scroll;
}

.contenedor-imagen {
    width: auto;
    height: auto;
    transition: transform .3s;
}

.imagen {
    width: 380px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    transition: .3s;
}

.card{
    margin: 200px auto;
    transition: .3s;
    overflow: hidden;
    position: relative;
    z-index: 100;
    
}

.card:hover {
    transform: scale(110%);
}